# Tratamento dos arquivos de treinamento e teste

Nesse notebook trataremos os arquivos `trasact_train.csv`, `transact_class.csv` e `realclass_t1.csv`.

O objetivo é preparar os dados na forma de CSV para utiliza-los na fase seguinte, escolha de paramêtros dos algoritmo de classificação.

Ao final do processo serão gerados 3 pares de arquivos, cada par referente a uma estratégia para tratamento de missing values.

### Importar as bibliotecas necessárias

In [2]:
import pandas as pd
import numpy as np

### Ler os arquivos csv

In [42]:
transact_train = pd.read_csv('data/transact_train.csv', sep='|', na_values='?')
transact_class = pd.read_csv('data/transact_class.csv', sep='|', na_values='?')
realclass_t1 = pd.read_csv('data/realclass_t1.csv', sep='|', na_values='?')

# Remover os dados de ID do usuário

transact_train.drop('customerNo', axis=1, inplace=True)
transact_class.drop('customerNo', axis=1, inplace=True)

In [43]:
transact_train

,sessionNo,startHour,startWeekday,duration,cCount,cMinPrice,cMaxPrice,cSumPrice,bCount,bMinPrice,...,onlineStatus,availability,maxVal,customerScore,accountLifetime,payments,age,address,lastOrder,order
0,1,6,5,0.000,1,59.99,59.99,59.99,1,59.99,...,NaN,NaN,600.0,70.0,21.0,1.0,43.0,1.0,49.0,y
1,1,6,5,11.940,1,59.99,59.99,59.99,1,59.99,...,y,completely orderable,600.0,70.0,21.0,1.0,43.0,1.0,49.0,y
2,1,6,5,39.887,1,59.99,59.99,59.99,1,59.99,...,y,completely orderable,600.0,70.0,21.0,1.0,43.0,1.0,49.0,y
3,2,6,5,0.000,0,NaN,NaN,NaN,0,NaN,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
4,2,6,5,15.633,0,NaN,NaN,NaN,0,NaN,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
5,2,6,5,26.235,0,NaN,NaN,NaN,0,NaN,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
6,2,6,5,71.200,0,NaN,NaN,NaN,0,NaN,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
7,2,6,5,94.469,0,NaN,NaN,NaN,0,NaN,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
8,3,6,5,181.477,9,29.99,29.99,89.97,1,29.99,...,NaN,NaN,1800.0,475.0,302.0,12.0,45.0,1.0,11.0,y
9,3,6,5,297.018,11,9.99,29.99,109.95,2,9.99,...,NaN,NaN,1800.0,475.0,302.0,12.0,45.0,1.0,11.0,y
10,3,6,5,310.967,11,9.99,29.99,109.95,2,9.99,...,y,completely orderable,1800.0,475.0,302.0,12.0,45.0,1.0,11.0,y
11,3,6,5,324.278,11,9.99,29.99,109.95,2,9.99,...,y,completely orderable,1800.0,475.0,302.0,12.0,45.0,1.0,11.0,y
12,3,6,5,341.613,11,9.99,29.99,109.95,2,9.99,...,y,completely orderable,1800.0,475.0,302.0,12.0,45.0,1.0,11.0,y
13,4,6,5,28.871,4,4.99,4.99,19.96,1,4.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
14,4,6,5,42.812,4,4.99,4.99,19.96,1,4.99,...,y,completely not orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
15,5,6,5,120.269,4,27.85,27.85,55.70,1,27.85,...,NaN,NaN,800.0,503.0,18.0,1.0,46.0,1.0,40.0,y
16,5,6,5,170.642,6,27.85,27.85,111.40,2,27.85,...,NaN,NaN,800.0,503.0,18.0,1.0,46.0,1.0,40.0,y
17,5,6,5,228.147,9,27.85,27.85,167.10,3,27.85,...,NaN,NaN,800.0,503.0,18.0,1.0,46.0,1.0,40.0,y
18,5,6,5,721.100,16,19.99,27.85,234.07,4,19.99,...,NaN,NaN,800.0,503.0,18.0,1.0,46.0,1.0,40.0,y
19,5,6,5,2718.412,45,12.99,179.95,1093.72,4,19.99,...,y,completely orderable,800.0,503.0,18.0,1.0,46.0,1.0,40.0,y
20,5,6,5,2738.467,45,12.99,179.95,1093.72,4,19.99,...,y,completely orderable,800.0,503.0,18.0,1.0,46.0,1.0,40.0,y
21,5,6,5,2797.247,45,12.99,179.95,1093.72,4,19.99,...,y,completely orderable,800.0,503.0,18.0,1.0,46.0,1.0,40.0,y
22,5,6,5,2816.046,45,12.99,179.95,1093.72,4,19.99,...,y,completely orderable,800.0,503.0,18.0,1.0,46.0,1.0,40.0,y
23,6,6,5,0.000,1,129.99,129.99,129.99,1,129.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
24,6,6,5,0.000,2,99.99,129.99,229.98,2,99.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
25,6,6,5,0.000,3,99.99,169.00,398.98,3,99.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
26,7,6,5,249.844,6,3.00,20.00,73.00,1,3.00,...,NaN,NaN,900.0,575.0,35.0,10.0,31.0,2.0,10.0,y
27,7,6,5,268.713,6,3.00,20.00,73.00,1,3.00,...,y,completely orderable,900.0,575.0,35.0,10.0,31.0,2.0,10.0,y
28,7,6,5,274.297,6,3.00,20.00,73.00,1,3.00,...,y,completely orderable,900.0,575.0,35.0,10.0,31.0,2.0,10.0,y
29,7,6,5,286.562,6,3.00,20.00,73.00,1,3.00,...,y,completely orderable,900.0,575.0,35.0,10.0,31.0,2.0,10.0,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428983,49996,18,7,6164.235,176,6.99,59.99,4047.28,11,9.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428984,49996,18,7,6206.018,179,6.99,59.99,4086.25,12,9.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428985,49996,18,7,6369.914,186,6.99,59.99,4168.18,13,9.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428986,49996,18,7,6454.591,190,6.99,59.99,4208.14,13,9.99,...,y,mainly orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428987,49996,18,7,6571.004,190,6.99,59.99,4208.14,13,9.99,...,y,mainly orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428988,49996,18,7,6602.238,191,6.99,59.99,4226.13,13,9.99,...,y,mainly orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428989,49996,18,7,6619.040,192,6.99,59.99,4244.12,13,9.99,...,y,mainly orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428990,49996,18,7,6655.255,192,6.99,59.99,4244.12,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428991,49996,18,7,6690.063,193,6.99,59.99,4254.11,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428992,49996,18,7,6703.447,194,6.99,59.99,4264.10,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428993,49996,18,7,6714.419,195,6.99,59.99,4282.09,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428994,49996,18,7,6722.417,196,6.99,59.99,4297.08,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428995,49996,18,7,6738.581,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428996,49996,18,7,6794.407,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428997,49996,18,7,6946.849,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428998,49996,18,7,6979.364,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
428999,49996,18,7,7015.682,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
429000,49996,18,7,7074.729,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
429001,49996,18,7,7089.360,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
429002,49996,18,7,7170.905,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
429003,49996,18,7,7271.812,197,6.99,59.99,4315.03,13,9.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,y
429004,49997,18,7,640.844,8,70.99,89.99,667.88,1,89.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
429005,49997,18,7,667.219,8,70.99,89.99,667.88,1,89.99,...,y,completely orderable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
429006,49998,18,7,2961.909,6,59.99,99.99,419.94,1,59.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
429007,49998,18,7,4700.383,50,9.99,119.99,2974.60,2,59.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
429008,49998,18,7,5988.882,77,9.99,149.99,5253.28,3,49.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,n
429009,49999,18,7,675.114,6,59.00,199.99,509.96,1,89.99,...,NaN,NaN,NaN,NaN,NaN,0.0,24.0,1.0,4.0,n
429010,49999,18,7,715.341,7,59.00,649.99,1159.95,1,89.99,...,y,completely orderable,NaN,NaN,NaN,0.0,24.0,1.0,4.0,n
429011,50000,18,7,0.000,1,6.99,6.99,6.99,1,6.99,...,NaN,NaN,300.0,537.0,5.0,0.0,53.0,1.0,34.0,n
429012,50000,18,7,82.943,1,6.99,6.99,6.99,1,6.99,...,y,completely orderable,300.0,537.0,5.0,0.0,53.0,1.0,34.0,n

### Diminuir a granularidade dos dados

In [13]:
def reduceGranularity(data):
    ant = data['sessionNo'][0]
    indexes = []
    reduced_data = pd.DataFrame()
    for index, row in data.iterrows():
        if row['sessionNo'] != ant:
            indexes.append(index)      
        ant = row['sessionNo']
    for index in range(0, len(indexes)):
        indexes[index] -= 1
    indexes.append(len(data) - 1)
    reduced_data = data.iloc[indexes].set_index('sessionNo')
    return reduced_data

In [16]:
training_data = reduceGranularity(transact_train)
testing_data = reduceGranularity(transact_class)

sessionNo
1            1.0
2            NaN
3            3.0
4            NaN
5            4.0
6            NaN
7            5.0
8            6.0
9            NaN
10           7.0
11           NaN
12           8.0
13           NaN
14           NaN
15           NaN
16           NaN
17           NaN
18           9.0
19          10.0
20          11.0
21          12.0
22           NaN
23           NaN
24          13.0
25           NaN
26           NaN
27          14.0
28          15.0
29           NaN
30          16.0
          ...
49971    25021.0
49972        NaN
49973    25022.0
49974    25023.0
49975    25024.0
49976    25025.0
49977        NaN
49978        NaN
49979    25026.0
49980    25027.0
49981    25028.0
49982    25029.0
49983    25030.0
49984        NaN
49985    25031.0
49986    25032.0
49987    25033.0
49988        NaN
49989       47.0
49990    25034.0
49991    25035.0
49992        NaN
49993    25036.0
49994        NaN
49995    25037.0
49996        NaN
49997        NaN
49998        NaN
49999    25038.0
50000       47.0
Name: customerNo, Length: 50000, dtype: float64

In [ ]:
for col in training_data:
    if training_data[col].dtype == 'object':
        training_data[col].fillna(value=training_data[col].mode().iloc[0], inplace=True)
        print("Object", col)
    else:
        training_data[col].fillna(value=training_data[col].mean(), inplace=True)
training_data

In [ ]:
training_data.to_csv('training_data_mean.csv')